.flexed-editor {
  overflow: visible;
}

.flexed-toolbar {
  z-index: 2; /* fixing Chromium outline bug */
  position: fixed;
}

.flexed-body {
  overflow: auto;
}

.flexed-footer {
  z-index: 1;
  position: fixed;
}

.flexed-toolbar button:focus {
  outline: 0;
}
.flexed-toolbar:not(.flexed-fixed) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-left-radius: 3px;  /* TODO: LESS, Bootstrap standard radius */
  border-top-right-radius: 3px;
}

li.fixed-tool-button.active {
  text-decoration: underline;
}

.flexed-image {
    
}

.flexed-image-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 2px dashed gray;
}

.flexed-image-anchor {
    position: absolute;
    right : -0.5em;
    bottom: -0.5em;
    width :  1.0em;
    height:  1.0em;
    background: gray;
    border: 1px solid black;
    cursor: se-resize;
}